* {
	box-sizing: border-box;
}

/*
div.container section.places {
	background-color: cyan;
}
*/

div.container section.places h1 {
	font-size: 30px;
}

div.container section.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
}

div.container section.places article h2 {
	font-size: 30px;
	text-align: center;
}
